.encounters-container {
  .heading h1 {
    padding: 55px 10px 0;
    font-size: 2.2rem;
    line-height: 45px;
  }
}

.submitted-reports-container {
  width: 100%;
  height: 300px;
  margin: 20px 0 60px;
  text-align: left;
  background-color: #470204;
  box-shadow: 50px 0 80px #eabf88;
  opacity: 0.8;
  overflow: scroll;
  overflow-x: hidden;
}

.submitted-reports-list {
  list-style-type: none;
  padding: 5px 10%;
  white-space: normal;
  li {
    margin-bottom: 40px;
  }
  p {
    height: auto;
    line-height: 1;
  }
}
