<div class="component-container">
  <div class="encounters-container">
    <div class="heading">
      <h1>Encounter</h1>
      <p>See an Alien? Report it!</p>
    </div>
    <div class="reports-container">
      <ul>
        <li *ngFor="let list of encounter">
          <p>{{list.date}} - {{list.atype}}</p>
          <p>{{list.action}}</p>
        </li>
      </ul>
    </div>
    <!--end reports-container-->
    <div>
      <a class="button" [routerLink]="['/report']">Report Encounter</a>
    </div>
  </div>
  <!--end encounters-container-->
</div>
<!--end component-container-->
