/* ================================ */
/* ----------- Home Page ---------- */
/* ================================ */

.home-container {
  .heading h1 {
    padding: 115px 15px;
    font-size: 2.6rem;
    letter-spacing: 7px;
    text-shadow: 3px 2px 3px #000;
    span {
      font-size: 4rem;
    }
  }
}

.call-to-action {
  margin-top: 60px;
  p {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
}

.planet-button {
  width: 135px;
  border-radius: 100%;
  img {
    width: 135px;
    height: auto;
    border-radius: 100%;
    animation: pulse-button 3s infinite;
  }
}

@keyframes pulse-button {
  0% {
    box-shadow:
      0 0 0 1rem rgba(127,7,11,.5),
      0 0 0 2rem rgba(127,7,11,.15),
  }

  100% {
    box-shadow:
      0 0 0 3rem rgba(127,7,11,.2),
      0 0 0 1rem rgba(127,7,11,.3);
  }
}
