
/* ================================ */
/* ---------- Containers ---------- */
/* ================================ */


/* Default / Shared */

.component-container {
  width: 100vw;
  height: 100vh;
  font-family: 'open_sanslight', sans-serif;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('../images/space_bg.jpg');
  background-size: cover;
}

/* Home Page */

.home-container {
  height: 100vh;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* Register Page */

.register-container {
  height: 100vh;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Encounters Page */

.encounters-container {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/* Report Page */

.report-container {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
