.button {
  width: 80%;
  padding: 15px;
  color: #d8c3c3;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'open_sanslight', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  background: linear-gradient(to bottom, #000, #474747, #000);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #302f2f;
}
