<div class="component-container">
  <div class="register-container">
    <div class="heading">
      <h1>Register</h1>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmit($event)">
      <div>
        <input placeholder="Your Name" ngControl="name" [(ngModel)]="colonist.name" id="name" type="text" required>
      </div>
      <div>
        <input placeholder="Your Age" ngControl="age" [(ngModel)]="colonist.age" id="age" type="text" required>
      </div>
      <div>
        <select ngControl="job" [(ngModel)]="colonist.job_id" class="form-control">
          <option [value]="NO_OCCUPATION_SELECTED">Select an Occupation</option>
          <option *ngFor="let job of occupations" [value]="job.id" >{{ job.name }}</option>
        </select>
      </div>
      <button class="button" type="submit" [disabled]="noOccupation || !registerForm.form.valid">Submit</button>
    </form>
  </div>
  <!--end register-container-->
</div>
